$blue: 	#CDEAF4;

// .jumbotron {
//   background-color: $blue;
// }

h1 {
  color: black;
  text-align: center;
}

h2 {
  text-align: center;
}

button {
  margin-top: 10px;
}

#octocat {
  display: block;
  margin: auto;
}

#results {
  display: none;
  border-radius: 10px;
  border: solid 2px $blue;
}
