$blue: 	#CDEAF4;

.jumbotron {
  margin-top: 20px;
  background-color: #E7F1F5
}

h1 {
  color: black;
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

h2 {
  text-align: center;
  font-family: 'Fredoka One', cursive;
}

ul {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  color: #AC5C51;
}

button {
  margin-top: 10px;
}

#octocat {
  display: block;
  margin: auto;
}

#results {
  display: none;
  border-radius: 10px;
  border: solid 2px $blue;
  margin-bottom: 20px;
}
